*, *::before, *::after {
  box-sizing: border-box;
}

html {
  font-size: 100%;
  height: 100%;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

body {
  height: 100%;
  margin: 0;
}

#app {
  height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  font: inherit;
}

ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
